.settings{
    background-color: rgb(249, 249, 249);
    padding: 20px;
    border-radius: 20px;
    flex: 1 1 0;

    &__title{
        text-align: center;
        font-weight: 600;
        color: rgb(114, 111, 111);
    }
    &__fields{
        max-width: 600px;
        margin: 30px auto;
    }
}