.el-row{
    border-radius: 20px;
    overflow: hidden;
   
}
.mt-15{
    margin-top: 15px;
    display: flex;
    justify-content: center;
   
}

.el-pagination{
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}